Source: django-versionfield2
Section: admin
Priority: optional
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), dh-python, python (>= 2.7), python3 (>= 3.4)
X-Python-Version: >=2.7
X-Python3-Version: >=2.4

Package: python-django-versionfield2
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: version number field for Django
 A DB Independent Custom Django Field for storing Version numbers for
 fast indexing.

Package: python3-django-versionfield2
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: version number field for Django
 A DB Independent Custom Django Field for storing Version numbers for
 fast indexing.
